/* app css stylesheet */
.row.full-width {
  width: 100%;
  max-width: 100%;
}

/* full width html */
html, body, #main-view { height: 100%; }

/* splash */
#splash {
  height: 100%;
  width: 100%;
  background: url(/img/wedding_bw.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table; position: static;
}

#banner {
  display: table-cell; vertical-align: middle; width: 100%; position: static;

  font-family: 'league-gothic';
  color: #EFEFEF;
}

#banner-inner {
  background-color: rgba(100, 100, 100, 0.5);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#banner h1 {
  font-size: 50pt;
  color: #EFEFEF;
  margin-bottom: -5px;
}

#banner h2 {
  font-size: 24pt;
  color: #EFEFEF;
}

#banner a {
  font-family: "Helvetica";
}

/* dashboard */
ul {
  list-style-type: none;
}

#welcome-back {
  padding-right: 25px;
}

#welcome-back, #welcome-back h2, #welcome-back h2 a {
  font-family: 'museo-sans';
  color: white;
  font-size: 10pt;
  line-height: 40px;
}

#welcome-back img {
  height: 30px;
  margin-top: -6px;
}

#dashboard {
  min-height: 100%;
}

#dashboard h1 {
  font-family: 'league-gothic';
  font-size: 36pt;
}

.experiment {
  padding: 10px;
  font-family: 'museo-sans';
  border-bottom: 1px solid rgba(200, 200, 200, 0.7);
}

.experiment p {
  padding: 0;
  margin: 0;
}

.experiment p b {
  letter-spacing: -1px;
}

.experiment-title {
  font-size: 24pt; 
}

.experiment img {
  max-width: 150px; 
}

#notests {
  font-family: "museo-sans";  
}

.tests {
  margin-left: 20px;
  border-left: 12px solid rgba(200, 200, 200, 0.2);
  padding-left: 10px;
  width: 80%;
}

.test {
  /*border-top: 1px solid rgba(200, 200, 200, 0.7);*/
  margin-top: 15px;
}
.test:last-child {
  margin-bottom: 15px;
}

.test-title {
  display: inline-block;
}

.test * {
  color: #222222;  
}

.test h3 {
  font-size: 12pt;
  font-family: 'museo-sans';
  padding: 0;
  margin: 0;
}

#add-experiment {
  border-left: 1px solid rgba(200, 200, 200, 0.7);
  min-height: 500px;
  padding-top: 15px;
  font-family: 'museo-sans';
}

#add-experiment textarea {
  resize: vertical;
}

#add-experiment .sub-nav {
   text-align: center; 
}

#add-experiment .sub-nav a {
  color: #222;
}

#add-experiment h2 {
  font-family: "league-gothic";
  font-size: 20pt;
}

#add-experiment h2 span.icon-plus {
  font-size: 16pt;
}

#post-new {
  font-size: 20pt;
  color: #222;
}

/* menu */
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.hide {
  visibility: hidden;
}

.details-drop {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}

.nohighlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none; 
}

.details-drop > b {
  text-decoration: underline;
}

/* font faces */
@font-face {
  font-family: 'league-gothic';
  src: url('/css/fonts/leaguegothic-regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'museo-sans';
  src: url('/css/fonts/MuseoSans-100.otf') format('opentype');
}