<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1>
        <a href="#">A|B</a>
      </h1>
    </li>
  </ul>
</nav>

<div id="dashboard" class="row">
  <div class="large-8 columns">
    <div id="notests" ng-show="!experiments">
      No tests.
    </div>
    <div id="tests" ng-show="experiments">
      <h1>Your Experiments</h1>
      <ul>
        <li ng-repeat="experiment in experiments">
          <div class="experiment">
            Main testing experiment
            <div class="test hide" ng-repeat="test in experiment">
              <div class="panel">
                <h3>{{test.message}}</h3>
                <p class="time">
                  {{test.updated_time | timeago}}
                </p>
                <p>{{test}}</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="panel" ng-controller="createExperimentCtrl">
      <dl class="sub-nav">
        <dt>Type:</dt>
        <dd ng-class="{'active': type == 'STATUS'}"><a ng-click="changeType('STATUS')">Status</a></dd>
        <dd ng-class="{'active': type == 'PHOTO'}"><a ng-click="changeType('PHOTO')">Photo</a></dd>
      </dl>
      <div ng-show="type == 'STATUS'">
        <ol>
          <input ng-repeat="post in posts" ng-model="post.value" class="large" />
        </ol>
      </div>
      <div ng-show="type == 'PHOTO'">
        
      </div>
      
      <img ng-show="posting" src="img/ajaxloader.gif" />
      <a ng-click="addPost()" class="small button secondary">+ Add Bucket</a>
      <a ng-click="createExperiment()" class="large button primary">Create Experiment</a>
    </div>
  </div>
</div>