<nav class="top-bar">
  <ul class="left title-area">
    <li class="name">
      <h1>
        <a>A|B</a>
      </h1>
    </li>
    <li class="divider"></li>
  </ul>
  <ul class="right">
    <li id="welcome-back"><h2>Welcome back,&nbsp;&nbsp;<a href="{{me.link}}"><img src="{{me.picture.data.url}}"/>&nbsp;{{me.name}}</a></h2></li>
  </ul>
</nav>

<div id="dashboard" class="row">
  <div class="large-8 columns">
    <h1><span class="icon-terminal"></span>&nbsp;Your Experiments</h1>
    <div id="notests" ng-hide="hasExperiments">
      Oh no!  You have no experiments...
      Create an experiment on the right to start <span style="font-family:'Helvetica Neue';font-weight: bold;">A|B</span> testing.
    </div>
    <div id="tests" ng-show="hasExperiments">
      <ul>
        <li ng-repeat="experiment in experiments">
          <div class="experiment">
            <p class="experiment-title">{{experiment.name}}</p>
            <p><span class="icon-calendar"></span>&nbsp;<b>Created</b>: {{experiment | timeago}}</p>
            <p><span class="icon-trophy"></span>&nbsp;<b>Current Winner</b>: {{experiment.posts[0].message || experiment.posts[0].name}}</p>
            <p class="details-drop" ng-click="experiment.shown = !experiment.shown"><span class="icon-list"></span>&nbsp;<b>Show/hide details</b></p>
            <div class="tests">
              <div class="test" ng-show="experiment.shown" ng-repeat="post in experiment.posts">
                <h3><span class="icon-picture" ng-show="post.source">&nbsp;</span>{{post.message || post.name}}</h3>
                <p ng-show="post.source"><img src="{{post.source}}"/></p>
                <p><b>Shared with:</b> {{post.friendCount}} friends</p>
                <p><span class="icon-thumbs-up"/>&nbsp;{{prettyPrintNoun(post.numLikes, 'like')}} | <span class="icon-comments-alt"/>&nbsp;{{prettyPrintNoun(post.numComments, 'comment')}} | <span class="icon-share"/>&nbsp;{{prettyPrintNoun(post.numShares, 'share')}}</p>         
                <p class="test-title"><span class="icon-globe"></span>&nbsp;<a href="{{'https://www.facebook.com/' + me.id + '/posts/' + post.id}}" target="_blank">Go to post</a></p>
                <p class="select-winner"><span class="icon-ok"></span>&nbsp;<a ng-click="pickWinner(experiment.id,post.id)">Pick as winner and distribute to all your friends</a></p>
                <p ng-show="false && getLastUserWhoLiked(post)"><span class="icon-comments-alt"></span>&nbsp;<b>Recent activity</b>: <b><a href="{{'http://www.facebook.com/' + getLastUserWhoLiked(post).id}}">{{getLastUserWhoLiked(post).name}}</a></b> liked this option</p>
                <p class="hide">{{post}}</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="large-4 columns" id="add-experiment">
    <div ng-controller="createExperimentCtrl">
      <h2><span class="icon-plus"></span>&nbsp;Create New A|B Test</h2>
      <dl class="sub-nav nohighlight">
        I want to make a...
        <p><a ng-click="changeType('STATUS')"><b>Status</b></a> | 
        <a ng-click="changeType('PHOTO')"><b>Photo</b></a></p>
      </dl>
      <div>
        <p>Give your experiment a <b>name</b>.</p>
        <input ng-model="postName" class="large" type="text" placeholder="Experiment Title"/>
        <div style="margin-bottom: 20px; text-align: center">
          <p>What percentage of your <del>guinea pigs</del> friends do you want to divide up?</p>
          <input type="range"
            ng-model="testGroupSize"
            min="1"
            max="100"
            step="1"
            value="50" /><br />
          <label><span>{{testGroupSize}}%</span></label>
        </div>
      </div>
      <div ng-show="type == 'STATUS'">
        <ol>
          <textarea ng-repeat="post in posts" ng-model="post.value" class="large-4.columns" placeholder="Status {{$index + 1}}" />
        </ol>
      </div>
      <div ng-show="type == 'PHOTO'">
        <div ng-repeat="photo in photos">
          <input type="file" ng-model-instant onchange="angular.element(this).scope().addFile(this,{{$index}})" />
          <textarea ng-model="photo.value" class="large" placeholder="Photo Caption {{$index + 1}}" />
        </div>
      </div>
      <div style="text-align: center" ng-show="type != ''">
        <a ng-click="removePost()" class="small button secondary post-edit" ng-class="{'disabled': canRemovePost()}">
          - Remove Group
        </a> 
        <a ng-click="addPost()" class="small button secondary post-edit">
          + Add Group
        </a>
      </div>
      <div ng-show="type != ''" style="text-align: center; margin-bottom: 20px;">
        <p><b>Final group size:</b> {{(friendCount*testGroupSize/100) / posts.length | number: 0}}</p>
        <img ng-show="posting" src="img/ajaxloader.gif" /><br />
        <a ng-click="createExperiment()" id="post-new" ng-class="{disabled: posting}"><span class="icon-beaker"></span>&nbsp;Start my experiment</a>
      </div>
    </div>
  </div>
</div>